*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(165, 201, 165);
}
#panal{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#tPanal{
    color: white;
    padding: 0 25%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(84, 49, 49);
    
}
.box{
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    color: rgb(58, 50, 37);
    font-weight: 600;
    font-size: 25px;
    

}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.elem{
    
    display: flex;
    align-items: center;
    gap: 20px;
}
#pbtm{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px;
}
.bubble{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 116, 60);
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 20px;
     
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(20, 92, 20);
}